/* =Base Styles
-------------------------------------------------------------- */

.thmfdn-menu,
.thmfdn-menu *{
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.thmfdn-menu li{
	position: relative;
	white-space: nowrap;
}

.thmfdn-menu ul{
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 1000;
}

.thmfdn-menu li:hover > ul{
	display: block;
}

.thmfdn-menu a{
	background: #333;
	position: relative;
	color: #eee;
}

.thmfdn-menu ul li{
	display: block;
}

.thmfdn-menu ul ul{
	top: 0;
	left: 100%;
}



/* =Standard Mobile Styles
-------------------------------------------------------------- */

.thmfdn-menu{
	text-align: center;
}

.thmfdn-menu > li{
	display: inline;
}

.thmfdn-menu > li > a{
	display: inline-block;
	margin-bottom: 0.25em;
}

.thmfdn-menu a{
	padding: 0.5em 0.75em;
}

.thmfdn-menu a:hover{
	background: #444;
}

.thmfdn-menu ul{
	margin-top: 0.5em;
	text-align: left;
}

.thmfdn-menu ul a{
	display: block;
}

.thmfdn-menu ul ul{
	margin-top: 0em;
}


/* =Toggled Mobile Styles
-------------------------------------------------------------- */

.thmfdn-mobile-menu{
	text-align: left;
}

.thmfdn-mobile-menu > li{
	display: block;
}

.thmfdn-mobile-menu > li > a{
	display: block;
	margin: 0;
}

.thmfdn-mobile-menu ul a{
	padding-left: 1.5em;
}

.thmfdn-mobile-menu ul ul a{
	padding-left: 3em;
}

.thmfdn-mobile-menu ul{
	display: block;
	position: relative;
	margin-top: 0;
}

.thmfdn-mobile-menu ul ul{
	display: block;
	position: relative;
	left: auto;
}



/* =Desktop Styles
-------------------------------------------------------------- */

@media screen and (min-width : 900px) {

	.thmfdn-menu > li {
		display: block;
		float: left;
	}

	.thmfdn-menu > li > a{
		margin: 0;
	}

	.thmfdn-menu ul{
		margin-top: 0;
	}

}

.thmfdn-menu-arrows .has-submenu > a{
	padding-right: 3em;
}
.thmfdn-menu-arrows .toggle-submenu{
	background: rgba( 255, 255, 255, 0.05);
	width: 2.5em;
	display: inline-block;
	height: 2.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.thmfdn-menu-arrows a:hover .toggle-submenu{
	background: transparent;
}


.thmfdn-menu-arrows .toggle-submenu:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;

	border: 5px solid transparent;
	border-top-color: #fff; /* IE8 */
	border-top-color: rgba(255,255,255,.5);
}

.thmfdn-menu-arrows ul .toggle-submenu:after {
	margin-top: -5px;
	margin-right: -3px;

	border: 5px solid transparent;
	border-left-color: #fff; /* IE8 */
	border-left-color: rgba(255,255,255,.5);
}








/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
