/* =Base Styles
-------------------------------------------------------------- */

.thmfdn-menu,
.thmfdn-menu *{
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.thmfdn-menu li{
	position: relative;
	white-space: nowrap;
}

.thmfdn-menu ul{
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 1000;
}

.thmfdn-menu li:hover > ul{
	display: block;
}

.thmfdn-menu a{
	background: #eee;
	position: relative;
}

.thmfdn-menu ul li{
	display: block;
}

.thmfdn-menu ul ul{
	top: 0;
	left: 100%;
}



/* =Standard Mobile Styles
-------------------------------------------------------------- */

.thmfdn-menu{
	text-align: center;
}

.thmfdn-menu > li{
	display: inline;
}

.thmfdn-menu > li > a{
	display: inline-block;
}

.thmfdn-menu a{
	padding: 0.5em 0.75em;
}

.thmfdn-menu a:hover{
	background: #ddd;
}

.thmfdn-menu ul{
	margin-top: 0.5em;
	text-align: left;
}

.thmfdn-menu ul a{
	display: block;
}

.thmfdn-menu ul ul{
	margin-top: 0em;
}


/* =Toggled Mobile Styles
-------------------------------------------------------------- */

.thmfdn-mobile-menu{
	text-align: left;
}

.thmfdn-mobile-menu > li{
	display: block;
}

.thmfdn-mobile-menu > li > a{
	display: block;
	margin: 0;
}

.thmfdn-mobile-menu ul a{
	padding-left: 1.5em;
}

.thmfdn-mobile-menu ul ul a{
	padding-left: 3em;
}

.thmfdn-mobile-menu ul{
	display: block;
	position: relative;
	margin-top: 0;
}

.thmfdn-mobile-menu ul ul{
	display: block;
	position: relative;
	left: auto;
}



/* =Desktop Styles
-------------------------------------------------------------- */

@media screen and (min-width : 900px) {

	.thmfdn-menu > li {
		display: block;
		float: left;
	}

	.thmfdn-menu > li > a{
		margin: 0;
	}

	.thmfdn-menu ul{
		margin-top: 0;
	}

}



